/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#converter-selection, .wpuc-field, input#wpuc_convert {
  margin-bottom: 1em;
}

#wpuc_convert, .wpuc-select, .wpuc-input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.wpuc-convert-result {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

select.wpuc-select {
  height: auto;
}