/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#wpuc-converter-box {
  border: 1px solid #d4d4d4;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#wpuc-converter-box .wpuc-converter-description {
  font-size: 11px;
  font-style: italic;
}

#wpuc-converter-box .wpuc-form-table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate !important;
}

#wpuc-converter-box .wpuc-converter-form {
  margin-top: 10px;
}

#wpuc-converter-box .wpuc-select {
  width: 98%;
  padding: 3px;
}

#wpuc-converter-box .wpuc-input {
  width: 98%;
  padding: 2px;
}

#wpuc-converter-box .wpuc-convert-result {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  color: #000;
  margin-top: 10px;
  padding: 5px;
  display: none;
}

#converter-selection {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  margin: 0px auto;
}
