/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wpuc_shortcode_hr {
    width: 6%;
    display: inline-block;
}

#wpuc_submenu_page tr th {
    display: none;
}

#wpuc_submenu_page tr:first-child td {
    padding-top: 0px;
}


/*
 * Shortcode Fields
 */

.wpuc_shortcode_display {
    width: 300px;
}

.wpuc_shortcode_select {
    width: 100%;
    height: 2.5em !important;
    margin: 0px;
    border: none;
    border-bottom: 1px solid #F1F1F1;
    box-shadow: none;
    border-radius: 3px 3px 0px 0px;
}

.wpuc_shortcode_display input {
    width: 100%;
    padding: 1em 5px;
    margin: 0px;
    border: none;
    border-radius: 0px 0px 3px 3px;
    box-shadow: none;
    background: white;
    text-align: center;
}



/*
 * Orientation Fields
 */

 .wpuc_shortcode_heading, .wpuc_orientation_heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wpuc_shortcode_subheading, .wpuc_orientation_subheading {
    font-style: italic;
    font-size: smaller;
    font-weight: 400;
    margin-top: 0px;
}

.wpuc_orientation_options {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.wpuc_orientation_option {
    display: flex;
    align-items: center;
}