/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wpuc_shortcode_hr {
    width: 6%;
    display: inline-block;
}

#wpuc_submenu_page tbody tr th {
    display: none;
}

/*
 * Shortcode Fields
 */

.wpuc_shortcode_general {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    border: 1px solid gray;
    margin: 0 auto;
}

.wpuc_shortcode_general_heading, .wpuc_shortcode_specific_heading {
    margin: 0px;
    border-bottom: 1px solid gray;
    padding: .5em;
}

.wpuc_shortcode_general_shortcode, .wpuc_shortcode_specific_shortcode {
    padding: 1em;
}

.wpuc_shortcode_specifics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wpuc_shortcode_specific {
    display: flex;
    margin: 1em 0px;
    justify-content: space-between;
    width: 400px;
    border: 1px solid gray;
    flex-flow: column wrap;
    text-align: center;
    border: 1px solid gray;
}


/*
 * Orientation Fields
 */

 .wpuc_shortcode_heading, .wpuc_orientation_heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wpuc_shortcode_subheading, .wpuc_orientation_subheading {
    font-style: italic;
    font-size: smaller;
    font-weight: 400;
    margin-top: 0px;
}

.wpuc_orientation_options {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.wpuc_orientation_option {
    display: flex;
    align-items: center;
}

.wpuc_orientation_horizontal {
    width: 50px;
    height: 70px;
    background-color: lightgray;
}

.wpuc_orientation_vertical {
    width: 70px;
    height: 50px;
    background-color: lightgray;
}